<%- include("partials/admin"); %>
<link rel="stylesheet" href="/delete.css">
<br><br><br>
<body>
    <div class = "form1">
        <form method = "post" action = "DeletePart">
            <label for="delete-input">Enter productID to delete:</label>
            <input type="text" name="deleteItem" placeholder="ID">
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>
