<%- include("partials/header"); %>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="Style.css">
    </head>
    <body>
        <br>
        <br>
        <h3>Spend all of your hard-earned money on useless crap!!!</h3>

    </body>