<%- include("partials/header"); %>
<link rel="stylesheet" href="/Style.css">
<br><br>
<div class = "row">
    <% for (let [index,orders] of history.entries() ) { %>
        <% let text = "Order Code: " + orders.orderNumber + " , Ordered date: " + orders.orderdate + " , Order content : check your email , Total Spend: " + orders.totalPrice + "$ , Status : " + orders.status + "."; %> 
        <div class="card">
            <div class="card-body">
                <%= text %>
            </div>
          </div>
          <% } %>
</div>